<!DOCTYPE html>
<html>
  <head>
    <title>Contrafact</title>
    
    <meta property="og:title" content="Contrafact" />
    <meta property="og:image" content='<%= image_url('ContrafactLogo.PNG') %>'/>
    <meta property="og:description"
      content="A SoundCloud inspired app for music sharing and discovery"
    />
    <meta name="author" content="Chris Bram">
    <meta property="og:url"
      content="http://contrafact.herokuapp.com/#/"
    />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="https://contrafact-seeds.s3.us-east-2.amazonaws.com/ContrafactLogo.PNG" type="image/icon type">


    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
  </head>

  <body>
    
    <%= yield %>

  </body>
</html>
