<!DOCTYPE html>
<html>
  <head>
    <title>Contrafact</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="" type="image/icon type">


    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
  </head>

  <body>
    
    <%= yield %>

    <div class='footer'>
      <ul class='flinks'>
        <div class='futils'>
        <li>About</li>
        <li>Language</li>
        <li>Services</li>
        <li>Help</li>
        <li>Legal</li>
        </div>
        <div class='fbtns'>
        <button class='linkedin'>
        </button>
        <button class='gitgub'>
        </button>
        </div>


      </ul>
    </div>
  </body>
</html>
